@import '../styles/assembly';


/*
* Layout Component Stylesheet
*/


.page {
  content: "";
  display: block;
  
  position: sticky;
  top: 0;
  
  width: 100vw;
  min-height: 100%;
  
  @include night-life-bg-gradient;

  .header {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    width: 100%;

    $padding: $spacer * 4;
    padding-block: $padding;

    .header-title {
      position: relative;
      align-self: center;

      font-weight: 700;
      text-align: center;
      text-shadow:
        -10px -5px 1px hsl(0, 100%, 35%),
        -15px 0px 1px hsl(50, 100%, 35%),
        10px 5px 1px hsl(100, 100%, 35%),
        5px 10px 1px hsl(150, 100%, 35%),
        0px 15px 1px hsl(200, 100%, 35%),
        -5px 10px 1px hsl(250, 100%, 35%),
        -10px 5px 1px hsl(300, 100%, 35%);

      height: $padding * 1.25;
      @include breakpoint(md) {
        height: $padding * 2.25;
      }
      .title-anim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        transform: translateX(-50%);
        z-index: 10;
      }
    }

    .header-nav {
      align-items: center;
      align-self: center;
      
    }
  }

  .footer {
    $color: rgba($light, 0.8);
    color: $color;
    font-size: $font-size-small;

    padding-block: $spacer * 4;
    
    a {
      color: $color;
      text-decoration: underline;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
      
    }
  }
}
